.main-activities {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 5vh 15vw;
}
.activity {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5vh;
}
.activity-text {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.activity-icon {
    width: 600px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.activity h3 {
    font-size: 1.5em;
    font-weight: bold;
}
.activity p {
    font-size: 1.2em;
}